[Unit]
Description=Start the Contacts service helper service
After=tizen-runtime.target
Requires=tizen-runtime.target

[Service]
Type=simple
ExecStart=/usr/bin/contacts-service-ipcd
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
