[Unit]
Description=Contacts Service socket

[Socket]
ListenStream=/run/user/%U/.contacts_svc_ipc
Service=contacts-service.service

[Install]
WantedBy=sockets.target
