[Unit]
Description=Start the Contacts service helper service

[Service]
Type=simple
Environment="CMD=timeout" "TIME=0"
ExecStart=/usr/bin/contacts-service-ipcd $CMD $TIME

[Install]
WantedBy=default.target
