[Unit]
Description=Contacts Service socket

[Socket]
ListenStream=/run/user/5001/.contacts_svc_ipc
Service=contacts-service.service

[Install]
WantedBy=sockets.target
