Source: contacts-service
Section: devel
Priority: extra
Maintainer: Youngjae Shin <yj99.shin@samsung.com>, Donghee Ye <donghee.ye@samsung.com>
Build-Depends: debhelper (>= 5), libslp-db-util-dev, libsqlite3-dev, libglib2.0-dev, dlog-dev, libvconf-dev, libvconf-keys-dev, libtapi-dev, libicu-dev, libsystemd-daemon-dev
Standards-Version: 3.7.2
Homepage: N/A

Package: libcontacts-service-dev
Section: devel
Architecture: any
Depends: libcontacts-service (= ${Source-Version}), libglib2.0-dev
Description: contacts service Library (development)
XB-Generate-Docs: yes

Package: libcontacts-service
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: contacts-service-bin (= ${Source-Version})
Description: contacts service Library (Library)

Package: contacts-service-bin
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: contacts service binary : contacts-svc-helper

Package: libcontacts-service-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcontacts-service (= ${Source-Version})
Description: contacts service Library (unstripped)
